@model br.com.fiap.alert.Models.AlertModel
<h1>Alert</h1>
<h4>New </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- IMPORTANTE elemento form -->
        <form asp-action="Create" asp-controller="Alert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeAlert" class="control-label"></label>
                <input asp-for="TypeAlert" class="form-control" />
                <span asp-validation-for="TypeAlert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coords" class="control-label"></label>
                <input asp-for="Coords" class="form-control" />
                <span asp-validation-for="Coords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>