@model br.com.fiap.alert.Models.AlertModel
<h1>Alert</h1>
<h4>detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- IMPORTANTE elemento form -->
        <form asp-action="Detail" asp-controller="Alert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeAlert" class="control-label"></label>
                <span>@Model.TypeAlert</span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <span>@Model.Message</span>
            </div>
            <div class="form-group">
                <label asp-for="Coords" class="control-label"></label>
                <span>@Model.Coords</span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <span>@Model.Author</span>
            </div>
            <br />
   
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>